.were-section {
    position: relative;
    padding: 10rem 2rem;
}

.were-wave-top {
    background-image: url(/src/assets/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 200px;
    right: 0;
    top: -50px;
    position: absolute;
}

.were-title {
    text-align: center;
    color: var(--very-dark-violet);
    font-size: clamp(2rem, 10vw, 4rem);
    font-family: var(--dm-serif-heading);
    font-weight: 400;
    margin-bottom: 2rem;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
}

.card {
    text-align: center;
}

.card .card-img, 
.card .card-content .title-card {
    margin-bottom: 1rem;
}

.title-card {
    color: var(--very-dark-violet);
    font-family: var(--dm-serif-heading);
    font-weight: 400;
}

.card-sub {
    color: var(--dark-grayish-violet);
    line-height: 1.6;
}

@media (min-width: 992px) {
    .card, .were-title {
        text-align: left;
    }

    .line-were {
        width: 150px;
        height: 3px;
        margin-bottom: 1rem;
        background-color: var(--very-light-gray);
    }
    
    .were-wave-top {
        background-image: url(/src/assets/bg-pattern-intro-left-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        max-width: 200px;
        height: 100%;
        left: 0;
        top: -100px;
        position: absolute;
    }
}

@media (min-width: 1024px) {
    .were-section {
        padding: 10rem 5rem;
    }
}

